<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}




</style>
</head>
<body>

<h2>                                         SHIPPING DATA                         </h2>

<div class="container">
  <img src="/static/ship.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
    <h1>FORMS</h1>
    <form action="/addshipping" >
    <button  type="submit">SUPPLIER.....................</button>
    </form>
    <form action="/addinventory" >
    <button  type="submit">INVENTORY....................</button>
    </form>
    <form action="/addshippingprice" >
    <button  type="submit">SHIPPING PRICE LIST.</button>
    </form>
    <form action="/addshippingcompanies" >
    <button  type="submit">SHIPPING COMPANIES .</button>
    </form>
    <form action="/additalian" >
    <button  type="submit">ITALIAN PROVICIES....</button>
    </form>
 
</div>

</body>
</html>
 