<!DOCTYPE html>  
<html>  
<head>  
    <title>List</title>  
</head>  
<body>  
  
<h3>DATA INFORMATION</h3>  
<table border=5>  
    <thead> 
 	<td>ID</td> 
        <td>quantity</td>    
        <td>item_description</td>  
        <td>sku</td>  
        <td>weight</td>
        <td>itemspercase</td>
        <td>warehouseposition</td>
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <td>{{row["id"]}}</td>  
            <td>{{row["quantity"]}}</td>  
            <td>{{row["item_description"]}}</td>  
            <td>{{row["sku"]}}</td> 
    	    <td>{{row["weight"]}}</td>	
    	    <td>{{row["itemspercase"]}}</td>
    	    <td>{{row["warehouseposition"]}}</td> 
  
        </tr>  
      
    {% endfor %}  
</table>  
<br><br>  
  
<a href="/">Go back to home page</a>  
  
</body>  
</html> 